In [1]:
import sqlite3, sql
con = sqlite3.connect('meteorites.db')
cur = con.cursor()

In [2]:
cur.execute(sql.year1980)
cur.fetchall()

[(17, 1981, 39.91667, 42.81667),
 (19, 2001, 13.66033, 28.96),
 (23, 2002, 45.82133, 6.01533),
 (31, 2008, 20.74575, 32.41275),
 (43, 1984, 40.81056, 140.78556),
 (50, 2009, 31.805, -97.01),
 (71, 1993, 16.66667, 101.18333),
 (83, 2006, 15.78333, -5.9),
 (84, 1994, 52.03333, 20.93583),
 (87, 2012, 40.66813, -117.18913),
 (88, 1989, 11.08333, -0.18333),
 (96, 2004, 32.25, -8.15),
 (97, 2001, 32.86667, 10.8),
 (100, 2002, 30.0, -7.0),
 (102, 2008, -31.91, -58.32833),
 (105, 2004, 40.30583, -105.02325),
 (110, 2002, 26.50833, 73.11528),
 (116, 1999, 12.45, -0.08333),
 (117, 1984, -33.15639, 115.67639),
 (138, 2003, 17.71067, -11.3715),
 (139, 2011, 17.17493, -11.34133),
 (147, 2001, 39.77978, 64.60035),
 (149, 2007, -31.35, 129.19),
 (152, 1990, 37.62194, -82.23722),
 (157, 2008, 52.996, -109.84817),
 (161, 2007, 3.405, -76.51),
 (163, 1991, -7.03333, -40.16667),
 (170, 2007, -16.66444, -69.04389),
 (177, 1988, 26.46667, -105.23333),
 (180, 1998, 28.53333, 109.31667),
 (194, 1988, -3.66667, 32.5),
 (195, 2013, 54.81667, 61.11667),
 (196, 2007, 23.69639, -5.01472),
 (202, 1981, 17.9, 101.63333),
 (204, 1988, -10.05944, 33.395),
 (208, 1984, 32.1025, -81.87278),
 (212, 1994, 43.76111, -84.50778),
 (223, 1981, 35.61667, 8.83333),
 (228, 1998, 41.98444, 59.685),
 (229, 2008, -1.87089, -79.95756),
 (235, 2001, 26.68333, 93.86667),
 (237, 2001, 19.0, 81.0),
 (238, 1994, 24.225, 76.525),
 (242, 2007, 37.35172, 27.32997),
 (247, 1999, 36.95, 9.55),
 (251, 1995, 45.5, 119.03333),
 (261, 1999, -31.66667, 152.83333),
 (275, 1989, 34.41667, 3.25),
 (277, 1993, 19.96722, -103.05167),
 (278, 1998, 39.24667, -104.58817),
 (301, 1996, 43.18111, 13.75333),
 (319, 1995, 51.68333, 30.78333),
 (324, 1984, 12.85, 11.03333),
 (325, 2000, 14.15083, -2.04167),
 (330, 1990, 52.2, 6.86667),
 (333, 1991, 52.45972, -0.3),
 (339, 2009, 43.2, -79.61667),
 (346, 1996, 39.80417, 122.76389),
 (347, 1983, 24.1, 105.0),
 (353, 1982, 22.98333, 76.05),
 (354, 1984, 11.49167, 11.65833),
 (357, 1981, 9.36667, 42.41667),
 (378, 2003, 34.45, 132.38333),
 (379, 2003, 1.345, 31.47278),
 (388, 2010, 26.46469, 106.63241),
 (406, 1990, 26.59083, -12.95217),
 (416, 2009, 46.42137, 14.05217),
 (421, 2006, 22.68, 70.31333),
 (426, 1997, 35.5, 115.41667),
 (428, 1984, -7.71667, 111.2),
 (450, 2004, 20.33916, 73.22329),
 (459, 2003, 29.58333, 77.58333),
 (460, 1999, 11.33333, 10.08333),
 (461, 2006, 25.14333, 75.81333),
 (464, 2008, 36.54194, 29.41822),
 (466, 2003, 20.4625, 86.70278),
 (478, 1983, 14.0, 28.0),
 (483, 2002, 12.76667, 9.8),
 (489, 1998, 43.38333, -80.38333),
 (492, 1999, 34.73333, 135.16667),
 (493, 1986, 34.3, 133.95),
 (496, 2010, 48.76367, 21.17633),
 (507, 1998, 42.25, 59.2),
 (517, 1985, -31.23333, -58.16667),
 (527, 1986, 46.24167, 126.19611),
 (529, 1987, 33.13333, 115.16667),
 (536, 1999, 52.66667, -6.96667),
 (550, 1994, 26.96556, 72.62667),
 (551, 2010, 38.70066, -77.21163),
 (566, 1981, -15.21222, 35.24222),
 (573, 1990, -19.48333, 31.65),
 (574, 2007, 27.66667, 95.78333),
 (575, 2004, 12.83333, 9.38333),
 (589, 2009, 54.76183, 11.46745),
 (595, 2002, -14.2, 48.1),
 (596, 1983, 35.8, -84.1),
 (605, 1992, 1.06667, 34.16667),
 (621, 2010, 42.9075, -90.36556),
 (623, 1992, 35.56833, 133.22),
 (640, 1998, 31.60833, -102.85833),
 (651, 2000, 49.6, 18.53333),
 (653, 2006, 59.43333, 10.7),
 (657, 1991, 18.7, 4.8),
 (676, 1984, 32.11667, 121.8),
 (684, 1995, 36.44917, 136.46528),
 (688, 2002, 47.525, 10.80833),
 (690, 1994, 15.36667, 35.68333),
 (691, 2003, 29.94718, -90.10976),
 (700, 1983, 32.925, 105.90667),
 (704, 1991, 40.08528, -86.055),
 (734, 1981, 64.02, 161.80833),
 (736, 2004, 28.5475, -81.36222),
 (743, 2003, 12.9, 0.08),
 (744, 1986, 30.18, -6.57717),
 (745, 2003, 24.3, -13.1),
 (746, 1998, 37.60833, -8.28),
 (754, 1988, -23.11667, -65.1),
 (764, 2003, 41.48472, -87.67917),
 (776, 1989, 11.33367, -3.54217),
 (779, 1992, 41.28333, -73.91667),
 (786, 1995, 14.052, 0.42),
 (796, 1996, 26.03472, 73.94167),
 (802, 2008, 45.275, 26.70972),
 (810, 1998, 34.175, -103.295),
 (816, 2007, 39.35, -3.51667),
 (821, 1982, 32.08333, 121.5),
 (826, 1990, 44.61667, 126.13333),
 (829, 1986, 27.72528, 76.465),
 (830, 1983, 28.225, 70.2),
 (842, 2007, 38.13742, -119.75812),
 (869, 1999, 23.08333, 91.66667),
 (874, 1981, 44.97917, -122.96944),
 (876, 1985, 52.75, 11.05),
 (879, 2002, 43.66667, 13.0),
 (885, 2008, -31.535556, -68.489444),
 (891, 1986, 35.86667, 139.4),
 (903, 1993, 39.43833, 140.51167),
 (910, 1989, 34.75, 10.71667),
 (922, 1995, 20.93333, -101.38333),
 (930, 1989, 39.82467, 36.13583),
 (931, 1989, 32.43333, 119.86667),
 (938, 2011, 54.00883, 22.005),
 (940, 1993, 45.25, 125.0),
 (957, 1990, 53.66667, 55.98333),
 (962, 1994, 45.96861, -72.97806),
 (965, 1986, 31.61667, 113.46667),
 (966, 2008, 12.66667, 78.03333),
 (970, 2012, 38.80389, -120.90806),
 (974, 2000, 59.70444, -134.20139),
 (975, 1991, 34.72, 137.305),
 (979, 2008, 31.16333, -7.015),
 (989, 2011, -1.00278, 37.15028),
 (990, 2002, -29.33333, 27.58333),
 (991, 1986, 32.94667, 118.99),
 (997, 2011, 29.48195, -7.61123)]

In [ ]:
import json
with open('data.json', mode='r') as file:
    data = json.load(file)

In [ ]:
miss_data = [x for x in data if 'geolocation' not in x.keys()]

print(len(miss_data))
print (miss_data)

In [1]:
from app import Meteorites
data = Meteorites().get_data()

In [16]:
for record in data:
    print(record.get('year').split('-',1))

['1880', '01-01T00:00:00.000']
['1951', '01-01T00:00:00.000']
['1952', '01-01T00:00:00.000']
['1976', '01-01T00:00:00.000']
['1902', '01-01T00:00:00.000']
['1919', '01-01T00:00:00.000']
['1949', '01-01T00:00:00.000']
['1814', '01-01T00:00:00.000']
['1930', '01-01T00:00:00.000']
['1920', '01-01T00:00:00.000']
['1974', '01-01T00:00:00.000']
['1925', '01-01T00:00:00.000']
['1769', '01-01T00:00:00.000']
['1949', '01-01T00:00:00.000']
['1838', '01-01T00:00:00.000']
['1959', '01-01T00:00:00.000']
['1981', '01-01T00:00:00.000']
['1957', '01-01T00:00:00.000']
['2001', '01-01T00:00:00.000']
['1806', '01-01T00:00:00.000']
['1766', '01-01T00:00:00.000']
['1949', '01-01T00:00:00.000']
['2002', '01-01T00:00:00.000']
['1835', '01-01T00:00:00.000']
['1873', '01-01T00:00:00.000']
['1860', '01-01T00:00:00.000']
['1900', '01-01T00:00:00.000']
['1883', '01-01T00:00:00.000']
['1899', '01-01T00:00:00.000']
['1969', '01-01T00:00:00.000']
['2008', '01-01T00:00:00.000']
['1977', '01-01T00:00:00.000']
['1895', '01-01T00:00:00.000']
['1880', '01-01T00:00:00.000']
['1898', '01-01T00:00:00.000']
['1969', '01-01T00:00:00.000']
['1939', '01-01T00:00:00.000']

AttributeError: 'NoneType' object has no attribute 'split'

In [ ]:
for record in data:
    if record.get('geolocation') is None:
        record.update({'geolocation':{'latitude':None, 'longitude':None}})

In [ ]:
c = 0
for record in data:
    for k, v in record['geolocation'].items():
        print(k, v)
        print ('.')

In [ ]:
for record in data:
    x = record.get('geolocation')
    print (record['name'],x['latitude'], x['longitude'])

In [ ]:
for record in data:
    if 'mass' not in record.keys():
        record.update({'mass':'na'})
    elif 'year' not in record.keys():
        record.update({'year':'na'})

In [ ]:
c = 0
for record in data:
    for v in record['geolocation'].items():
        c += 1
        print(c, v)